<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>YouTube with comments</title>

  <!-- lite youtube embed stylesheet -->
  <link rel="stylesheet" href="/css/lite-yt-embed.css" />

  <!-- my stylesheet -->
  <link rel="stylesheet" href="/css/styles.css">

  <!-- lite youtube embed JS -->
  <script src="/javascript/lite-yt-embed.js" defer></script>

  <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" defer></script>

</head>

<body>

  <form action="/" method="post">
    <input type="text" name="videoID" id="videoID">
    <button type="submit" name="btnLoadVideo" id="btnLoadVideo">Get Video</button>
  </form>

  <lite-youtube videoid= <%= videoID %> style="background-image: url('https://i.ytimg.com/vi/ogfYd705cRs/hqdefault.jpg');">
    <button type="button" class="lty-playbtn">
      <span class="lyt-visually-hidden">Play Video</span>
    </button>
  </lite-youtube>

  <hr>

  <div id="comments">

  </div>

</body>

</html>
